<h2>EDIT</h2>

<form action="/galleries" method="POST">
  <div>
    <label for="gallery_name">Gallery Name</label>
      <input type="text" name="gallery[name]" id="gallery_name">
  </div>
  <div>
    <label for= "gallery_description">Gallery Description</label>
      <input type="text" name="gallery[description]" id="gallery_description">
  </div>
  <div>
    <input type="submit" value="New Gallery">
  </div>

</form>
